:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #34A77C;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #34A77C
}

input {
  background-color: #fff;
  color: #2f5523;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border: 2px solid #34A77C;
  border-radius: 8px;
}

select {
  background-color: #34A77C;
  color: #fff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid transparent;
  transition: border-color 0.25s;
  border-radius: 8px;
}
select:hover {
  border-color: #2f5523;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #34A77C;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
}
button:hover {
  border-color: #2f5523;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


